@font-face {
  font-family: "iconfont"; /* Project id 3655592 */
  src: url('//at.alicdn.com/t/c/font_3655592_ti48zgj5ca.woff2?t=1666583072950') format('woff2'),
       url('//at.alicdn.com/t/c/font_3655592_ti48zgj5ca.woff?t=1666583072950') format('woff'),
       url('//at.alicdn.com/t/c/font_3655592_ti48zgj5ca.ttf?t=1666583072950') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mute:before {
  content: "\ea0c";
}

.icon-lyric:before {
  content: "\e727";
}

.icon-volume-ctrl:before {
  content: "\ea0d";
}

.icon-loop-playback:before {
  content: "\ea76";
}

.icon-single-cycle:before {
  content: "\ea77";
}

.icon-playlist:before {
  content: "\ea83";
}

.icon-order-play:before {
  content: "\e6a1";
}

.icon-vip:before {
  content: "\e65b";
}

.icon-play-btn:before {
  content: "\ea6d";
}

.icon-arrow-right:before {
  content: "\e60e";
}

.icon-recent-play:before {
  content: "\e605";
}

.icon-song-list:before {
  content: "\e60f";
}

.icon-my-collections:before {
  content: "\e770";
}

.icon-my-favorite:before {
  content: "\e665";
}

.icon-selected:before {
  content: "\e601";
}

.icon-vertical_line:before {
  content: "\e63a";
}

.icon-minimize:before {
  content: "\e65a";
}

.icon-maximize:before {
  content: "\e65d";
}

.icon-close-window:before {
  content: "\e661";
}

.icon-full-mode:before {
  content: "\e6a2";
}

.icon-transparent-mode:before {
  content: "\e6c8";
}

.icon-mini-mode:before {
  content: "\e6c7";
}

.icon-guest:before {
  content: "\e62d";
}

.icon-next-page:before {
  content: "\e617";
}

.icon-previous-page:before {
  content: "\e619";
}

.icon-pause:before {
  content: "\ea81";
}

.icon-play:before {
  content: "\ea82";
}

.icon-xiangxia:before {
  content: "\e600";
}

.icon-search:before {
  content: "\e651";
}

.icon-close:before {
  content: "\e659";
}

.icon-setting:before {
  content: "\e68f";
}

.icon-email:before {
  content: "\e624";
}

.icon-trash:before {
  content: "\e62f";
}

.icon-xingqiu:before {
  content: "\e60a";
}

.icon-xiangzuo_o:before {
  content: "\eb9a";
}

.icon-theme-color:before {
  content: "\e721";
}

.icon-music-recognition:before {
  content: "\e6e9";
}

.icon-next:before {
  content: "\e76d";
}

.icon-previous:before {
  content: "\e76e";
}

.icon-random:before {
  content: "\ea75";
}
